---
---

@import "minima";

/* Typography improvements */
body {
  font-size: 18px;
  line-height: 1.8;
  color: #222;
}

p, li {
  margin-bottom: 1.1em;
}

h1, h2, h3, h4, h5 {
  margin-top: 1.6em;
  margin-bottom: 0.6em;
}
